<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="UriServicioPedNac" value="http://localhost:52991/appService.svc" />
    <!--<add key="UriServicioPedNac" value="http://itp1svap01/spns003/appService.svc" />-->
    <!--HABILITAR HTTPS-->
    <!--<add key="UriServicioPedNac" value="https://itp1svap01.incatops.com:443/spns003/appService.svc" />-->
    
    <add key="Aplicacionn" value="SPNW001"/>
    <add key="Aplicacion" value="SFI001"/>
    <!--<add key="NombreImpresoraPesos" value="\\itpc0135\ZDesigner ZM400 200 dpi (ZPL)"/>-->
    <add key="NombreImpresoraPesos" value="\\itp1svfs01\ITP3IMAH03\"/>
  </appSettings>
  <connectionStrings>
    <add name="appfe.Properties.Settings.PEDIDOSConnectionString"
        connectionString="Data Source=itp1svbd01;Initial Catalog=PEDIDOS;Persist Security Info=True;User ID=pednac;Password=Incatops2017;MultipleActiveResultSets=True;Application Name=EntityFramework"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IappService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"  sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxStringContentLength="2147483647" />
          <!--sin https-->
          <security mode="None">
          <!--<security mode="Transport">--> 
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52991/appService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IappService" contract="appServicio.IappService"
          name="BasicHttpBinding_IappService" >
        <identity>
          <dns value="itpc0075.incatops.com"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>