Pedidos_Nacionales_Desktop\backend\appLogica\obj*
Pedidos_Nacionales_Desktop\backend\appWcfService\obj*
Pedidos_Nacionales_Desktop\EFModelo\obj*
Pedidos_Nacionales_Desktop\backend\appLanzador\obj*
Pedidos_Nacionales_Desktop\backend\appDataContracts\obj*
Pedidos_Nacionales_Desktop\backend\AccesoDatos\obj*
Pedidos_Nacionales_Desktop\appfe\obj*
Pedidos_Nacionales_Desktop\appConstantes\obj*
Pedidos_Nacionales_Desktop\appDTO\obj*